/*-- scss:defaults --*/
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/fonts/lora-v35-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('fonts/fonts/lora-v35-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/fonts/lora-v35-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/fonts/lora-v35-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/fonts/lora-v35-latin-regular.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/fonts/lora-v35-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('fonts/fonts/lora-v35-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/fonts/lora-v35-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/fonts/lora-v35-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/fonts/lora-v35-latin-italic.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/fonts/lora-v35-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('fonts/fonts/lora-v35-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/fonts/lora-v35-latin-500.woff') format('woff'), /* Modern Browsers */
       url('fonts/fonts/lora-v35-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/fonts/lora-v35-latin-500.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 500;
  src: url('fonts/fonts/lora-v35-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('fonts/fonts/lora-v35-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/fonts/lora-v35-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/fonts/lora-v35-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/fonts/lora-v35-latin-500italic.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/fonts/lora-v35-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('fonts/fonts/lora-v35-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/fonts/lora-v35-latin-600.woff') format('woff'), /* Modern Browsers */
       url('fonts/fonts/lora-v35-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/fonts/lora-v35-latin-600.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 600;
  src: url('fonts/fonts/lora-v35-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('fonts/fonts/lora-v35-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/fonts/lora-v35-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/fonts/lora-v35-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/fonts/lora-v35-latin-600italic.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/fonts/lora-v35-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('fonts/fonts/lora-v35-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/fonts/lora-v35-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/fonts/lora-v35-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/fonts/lora-v35-latin-700.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/fonts/lora-v35-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('fonts/fonts/lora-v35-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/fonts/lora-v35-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/fonts/lora-v35-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/fonts/lora-v35-latin-700italic.svg') format('svg'); /* Legacy iOS */
}
